* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    width: 100vw;
    height: 100vh;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    background: white;
    overflow-x: hidden;
}

.customNav {
    position: fixed;
    width: 100%;
}

.navbar-brand {
    width: 100px;
}

.page-header-container {
    padding: 2% 2% 0% 2%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3.5rem;
    font-weight: 600;
}

.form-container {
    padding: 5% 10% 5% 10%;
}

.message {
    height: 10rem;

}

.btn-primary {
    background-color: rgba(16, 25, 51, 0.90);
    border: none;
}

.btn-primary:hover {
    background-color: purple;
}

.image-container {
    background: url(../images/large_red_wool.png);
    background-size: cover;
    display: flex;
    align-items: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 10rem;
}

.bottom-page-text {
    font-family: 'Oleo Script Swash Caps', cursive;
    font-size: 4rem;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-container {
    width: 100%;
    height: auto;
    padding: 2%;
    background-color: black;
}

.footer-logo {
    width: 6rem;
    padding-right: 1%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.footer-text {
    font-size: 1rem;
    font-weight: 600;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0% 1% 0% 1%;
}

.footer-text:hover {
    color: tan;
    cursor: pointer;
}

.footer-social {
    font-size: 0.9rem;
    color: lightgrey;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0% 1% 0% 1%;
}

.footer-social:hover {
    color: dodgerblue;
    cursor: pointer;
}