* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    width: 100vw;
    height: 100vh;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    background: white;
    overflow-x: hidden;
}

.customNav {
    position: fixed;
    width: 100%;
}

.navbar-brand {
    width: 100px;
}





.jumbotron {
    background-image: linear-gradient(rgba(16, 25, 51, 0.72), rgba(78, 76, 88, 0.253)), url(../images/yarn1.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: calc(100vh - 25px);
    display: flex;
    align-items: center;
    justify-content: center;
}

.jumboCopy {
    width: 90%;
    color: white;
    text-align: center;
  }

h1 {
    font-family: 'Oleo Script Swash Caps', cursive;
} 

.display-4 {
    font-size: 4rem;
}

.lead {
    font-size: 2rem;
}

.support-text {
    font-size: 2rem;
}

p {
    font-size: 1.2rem;
}

.email-signup-container {
    padding: 2% 7% 7% 7%;
    background: url(../images/yarn2.svg);
    background-size: cover;
    display: flex;
    align-items: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.email-text {
    width: 100%;
    color: black;
    font-size: 2rem;
    font-weight: 500;
}

.btn-primary {
    background-color: rgba(16, 25, 51, 0.90);
    border: none;
}

.btn-primary:hover {
    background-color: purple;
}

.card-deck {
    padding: 2% 2% 4% 2%;
}

.card {
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
}

.card:hover {
    transform: scale(1.02);
    box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2), 0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12);
    transition: 300ms;
}

.card-title {
    font-size: 1.4rem;
    font-weight: 600;

}

.card-text {
    font-size: 1rem;
}

.footer-container {
    width: 100%;
    height: auto;
    padding: 2%;
    background-color: black;
}

.footer-logo {
    width: 6rem;
    padding-right: 1%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.footer-text {
    font-size: 1rem;
    font-weight: 600;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0% 1% 0% 1%;
}

.footer-text:hover {
    color: tan;
    cursor: pointer;
}

.footer-social {
    font-size: 0.9rem;
    color: lightgrey;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0% 1% 0% 1%;
}

.footer-social:hover {
    color: dodgerblue;
    cursor: pointer;
}